# Ignore markdown files which have '$' signs that get excaped.
# https://github.com/prettier/prettier/issues/6213

pages/docs/balance/customer-types.mdx
pages/docs/balance/facilitator-fee.mdx

pages/docs/balance/micro-deposit-verification/index.mdx
